.inlineSwitcher {
    float: right;
    position: relative;
    top: .3rem;
}

.leftBar {
    background-color: var(--cds-ui-02, #ffffff);
    position: absolute;
    /* top: 9.75rem; */
    left: 0;
    width: 12rem;
    height: calc(100vh - 10.25rem);
    padding-left: 2rem;
}
.bx--progress--vertical .bx--progress-optional {
    margin-top: auto !important;
    position: initial !important;
    margin-left: 2.25rem !important;
}

#titleName {
    display: inline-block;
    max-width: calc(100vw - 4rem - 180px - 1rem);
    overflow: hidden;
    text-overflow: ellipsis;
}

#mobileTitle, #mobileEventName {
    display: none;
}
.bx--progress-label {
    height: fit-content;
}

.secondLevelContainer {
    background-color: var(--cds-ui-01, #ffffff);
    /* margin-top: -.5rem; */
    min-height: calc(100vh - 10.25rem);
    /* height: -webkit-fill-available; */
    padding: 2rem;
}

.detailsTileContainer {
    display: flex;
    margin-bottom: 1rem;
}

#detailsPanel[hidden] {
    display: none;
}

.bx--tile {
    background: var(--cds-ui-02, #ffffff);
    margin-bottom: 1rem;
    width: calc(100vw - 6rem);
    display: inline-block;
    vertical-align: top;
}

.bx--tile {
    cursor: pointer;
}
.bx--tile:hover {
  background-color: var(--cds-hover-ui, #e5e5e5);

}
.eventName {
    display: inline-block;
}
.time {
    float:right;
}

.bx--tile svg {
    position: relative;
    top: 2px;
}

.bx--tile:not(.detailTile):last-of-type {
    margin-bottom: 0!important;
}

.detailTile {
    background: var(--cds-ui-02, #ffffff);
    margin: 0 .5rem;
    width: calc((100vw - 7rem) / 4);
    display: inline-flex;
    vertical-align: top;
}

.detailTile:nth-child(4n+1) {
    margin-left: 0;
}
.detailTile:nth-child(4n) {
    margin-right: 0;
}
.detailTile > p, .detailTile > h2 {
    display: inline-flex;
}

.detailTile > h2 {
    margin-right: .5rem;
    padding-right: .5rem;
    /* border-right: 1px solid #ccc; */
    height: 100%;
    /* max-width: 12rem; */
}
.detailTile > p {
    margin-left: auto;
    /* flex-grow: 100; */
    text-align: right;
}
.fixSpacing {
    margin-right: 3px;
}
.tileWide {
    /* width: calc(100vw - 4rem); */
    background: white;
    padding: 1rem;
    margin-bottom: .5rem;
    overflow-x: scroll;
}
.actions{
    float: right;
    position: relative;
}
.tileWide > h5 {
    display: inline-block;
    position: relative;
    top: .25rem;
}

.bx--data-table-header, .bx--table-toolbar {
    background: white;
}
.bx--toolbar-search-container-persistent .bx--search, .bx--toolbar-content .bx--search .bx--search-input {
    height: 3rem;
}

.bx--toolbar-search-container-persistent .bx--search {
    transition: background-color 110ms cubic-bezier(0.2, 0, 0.38, 0.9),outline 110ms cubic-bezier(0.2, 0, 0.38, 0.9);
}
.bx--toolbar-search-container-persistent .bx--search:hover {
    background-color: #e5e5e5;
}
.bx--toolbar-content .bx--search .bx--search-input {padding-left: 1rem;}
.bx--search-magnifier {padding-left: 1rem;}
.bx--data-table td, .bx--data-table tbody th {
    border-top: none;
    background: white;
}
.bx--toolbar-search-container-persistent .bx--search-input:hover:not([disabled]) {
    background-color: unset;
}
.bx--data-table tbody tr:hover td, .bx--data-table tbody tr:hover th {
    border-top: none;
}

.bx--parent-row.bx--expandable-row ~ .bx--expandable-row.bx--expandable-row--hidden > td.eventExpandRow {
    padding: 1rem !important;
    padding-bottom: 0;
    background: white !important;
    padding-top: 0 !important;
}

.bx--child-row-inner-container > .bx--data-table-container > table > thead > tr > th {
    padding: 0 !important;
}

.bx--child-row-inner-container > .bx--data-table-container > table > thead > tr > th > button {
    padding-left: .5rem !important;
}

.bx--child-row-inner-container > .bx--data-table-container > table > thead > tr > th.bx--table-column-menu{
    background-color: #e0e0e0;
}

.bx--child-row-inner-container > .bx--data-table-container > table > tbody > tr > td {
    padding: .5rem !important;
}

tr.bx--parent-row.bx--expandable-row:hover+tr[data-child-row] td {
    background-color: white !important;
}

.bx--child-row-inner-container > .bx--structured-list {
    margin-bottom: 0;
}

.bx--structured-list-td:has(.bx--table-column-menu) {
    padding-top: 0;
    /* padding-right: 0; */
    position: relative;
    width: 32px;
}

.bx--expandable-row--hover + .eventExpandRow:hover {
    background-color: white !important;
}

.eventExpandRow > div > section > div > div.teacherTutor {
    display: none;
}
.eventExpandRow.showTutor > div > section > div > div.teacherTutor {
    display: table-row;
}
#showTeacherTutor {
    padding-top: .25rem;
}

.bx--parent-row.bx--expandable-row ~ .bx--expandable-row.bx--expandable-row--hidden > td.eventExpandRow.lastRowNoSpacingRah {
    padding-bottom: 0 !important;
}

.bx--parent-row.bx--expandable-row + .bx--expandable-row.bx--expandable-row--hidden > td.eventExpandRow.lastRowNoSpacingRah {
    padding-bottom: 1rem !important;
}

:root[theme="g100"] .bx--progress-step--incomplete .bx--progress-line,
:root[theme="g90"] .bx--progress-step--incomplete .bx--progress-line {
    background-color: var(--cds-ui-01, #e0e0e0) !important;
}

.bx--structured-list-td > .bx--radio-button-wrapper {
    width: 1.125rem
}
.bx--structured-list-td:has(.bx--radio-button-wrapper) {
    width: 1.125rem;
}
.bx--structured-list-td .bx--radio-button__appearance {
    margin-right: 0 !important;
}
h4 > svg {
    position: relative;
top: 3px;
}

.SessionContents {
    display: none;
    height: calc(100vh - 17.75rem);
    overflow: auto;
}

.SessionContents.show {
    display: block;
}

.bx--structured-list {
    overflow-y: visible !important;
}

#StartPage h2 {
    display: inline-block;
}

h2 ~ button {
    float: right;
}
.bottomNavigatorButtons {
    position: absolute;
    bottom: 2rem;
    width: calc(100vw - 4rem - 12rem)
}

#pagePrev {
    padding-left: 50px;
    padding-right: 12px;
}

#pagePrev .bx--btn__icon {
    right: unset !important;
    left: 1rem !important;
}

#pageNext {
    float: right;
}
.SessionContents .bx--structured-list {
    margin-bottom: 0 !important;
}
.SessionContents > h2 {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--cds-ui-01, #ffffff);
}
.SessionContents > h4:first-of-type {
    position: sticky;
    top: calc(var(--cds-productive-heading-05-font-size, 2rem) + .5rem);
    z-index: 1;
    background-color: var(--cds-ui-01, #ffffff);
}
.SessionContents > h4:last-of-type {
    position: sticky;
    top: calc(var(--cds-productive-heading-05-font-size, 2rem) + var(--cds-productive-heading-03-font-size, 2rem) + 1rem);
    z-index: 1;
    background-color: var(--cds-ui-01, #ffffff);

}
.SessionContents .bx--structured-list-thead {
    position: sticky;
    top: calc(var(--cds-productive-heading-05-font-size, 2rem) + var(--cds-productive-heading-03-font-size, 2rem) + 1rem + var(--cds-productive-heading-01-font-size, 0.875rem) + .8rem + 1px); /* jesus christ */
    z-index: 1;
    background-color: var(--cds-ui-01, #ffffff);

}

.bx--dropdown--inline {
    width: 18rem !important;
}

.top button {
    float: right;
}

/* #eventDetails.bx--progress-step--current svg {
    content: 'test';
} */

.bx--progress-step--current svg path:last-of-type {
    stroke-width: 0%;
}

/* .bx--parent-row.bx--expandable-row ~ .bx--expandable-row.bx--expandable-row--hidden > td.eventExpandRow {
} */

/* 
.bx--child-row-inner-container > .bx--data-table-container:has(table) {
    all: unset;
} */

@media (max-width: 66rem) {
    #titleName {
        display: none;
    }
    #mobileTitle, #mobileEventName {
        display: block;
    }
    .inlineSwitcher {
        margin-top: .25rem;
        width: unset;
        float: unset;
    }
    .secondLevelContainer {
        min-height: calc(100vh - 12.45rem);
    }
    .actions {
        float: unset;
        position: unset;
    }
    .actions > button {
        min-width: calc(100vw - 6rem);
        margin-top: .175rem;
        margin-bottom: .175rem;
    }
    .actions > button:nth-child(4n+1) {
        margin-top: 0;
    }
    .actions > button:nth-child(4n) {
        margin-bottom: 0;
    }
    .tileWide > h5 {
        display: none;
    }
    .detailTile {
        margin: .5rem 0;
        width: unset;
        display: block;
    }
    
    .detailTile:nth-child(4n+1) {
        margin-left: unset;
    }
    .detailTile:nth-child(4n) {
        margin-right: unset;
    }
    .detailTile > h2 {
        border-right: none;
        padding-right: unset;
        margin-right: .25rem;
        max-width: unset;
    }
    .detailTile > p {
        margin-left: unset;
        text-align: unset;
    }
    .detailTile:nth-child(4n+1) {
        margin-top: 0;
    }
    .detailTile:nth-child(4n) {
        margin-bottom: 0;
    }
    .detailsTileContainer {
        display: unset;
    }
    .top > button {
        float: unset;
        min-width: calc(100vw - 4rem);
        width: calc(100vw - 4rem);
        margin-top: .5rem;
    }
    .detailTile:last-of-type {
        margin-bottom: 1rem;
    }
}
