#adminLinks, #teacherLinks {
    display: none;
}
.homeFloater {
    width: fit-content;
    height: calc(100vh - 3rem);
}
.bgImages {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -5;
}
.bgImages::after {
    content: " ";
    z-index: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}
.bgImages img {
    display: none;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.bgImages img.show {
    display: block;
}
/* .bx--body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/1.webp);
    transition: background-image 0.5s ease-in-out;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: slides 25s linear infinite;
}

@keyframes slides {
    from {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/1.webp);
        background-size: cover;
        background-position: center center;
    }
    33% {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/2.webp);
        background-size: cover;
        background-position: center center;
    }
    66% {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/3.webp);
        background-size: cover;
        background-position: center center;
    }
    to {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/4.webp);
        background-size: cover;
        background-position: center center;
    }
} */

@media (max-width: 66rem) {
    .homeFloater {
        width: 100vw;
    }
}