/* 

Forms Stylesheet 
Scott Kent 
kents@fultonschools.org
5/14/2019

*/


form fieldset ul li {
	text-align: left;
	text-decoration: none;
}
form fieldset {
	border: 1px solid #45718b;
	background: #eef5f9;
	margin: 1em .1em;
	text-align: left;
}
fieldset p {
	font-size: 1.2em;
	line-height: 1.6em;
}
legend {
	padding: .25em 1.5em;
	background: #eef5f9;
	font-size: 1.2em;
	color: #434343;
	border: 1px solid #45718b;
	border-radius: .5em;
}
#decal {
	float: left; 
	height: 100px;
	border: 1px solid #333;
	margin: .1em;
	border-radius: .2em;
}
input[type=text], input[type=file], input[type=email], select {
	font-size: 1.2em;
	border-radius: .2em;
}
#expectation_wrapper p {
	padding: .5em .25em .25em .5em;
	border: 1px solid #444444;
	overflow:auto;
	border-radius: .5em;
}
input[type=submit] {
	font-size: 2em;
	margin: auto;
}
label.error { 
/* Deal with error reporting on form validation. */
	font-size: .6em;
	padding: .3em;
	margin: .1em;
	border-radius: .3em;
	
}
input.error, select.error{
	border: 1px solid #CC0000;
	color: #000000;
	background-color: #FFFFE0;
	text-align: left;
}
