/* Grid Stylesheet 
Scott Kent    
*/

table {
  border: 2px solid #000;
  border-collapse: collapse;
  width: 98%;
}

th,
td {
  border: 1px solid #000;
  width: 11.25%;
  font-size: 1.2em;
  border-color: #999;
}

th.tName,
td.tName {
  border: 1px solid #999;
  width: 9%;
  overflow: hidden;
}

tr.dept_header td {
  font-weight: bold;
  background-color: #999;
  border-color: #999;
  padding-left: 2em;
}

td {
  font-size: .9em;
}

td.spacer,
th.spacer {
  width: .25%;
  border-color: #999;
  background-color: #999;
}

td.courseInfo {
  font-size: .7em;
  padding: 3px;
  ;
}

td.courseInfo div span {
  font-size: .6em;
  display: block;
}
td.courseInfo ol {
  margin: 0;
}
.S1,
.S2 {
  font-weight: bold;
}

.S1 {
  color: #111188;
}

div.S1 span {
  color: #555588;
  font-weight: normal;
}

.S2 {
  color: #881111;
}

div.S2 span {
  color: #885555;
  font-weight: normal;
}

td.courseInfo.a1,
td.courseInfo.b1,
th.a1,
th.b1 {
  border-left: 5px solid #999;
}

td.fade {
  background-color: #DDD;
}

}