@page {
	margin: .2in;
}
@media print
{    
    .no-print, .no-print * {   
        display: none !important;
    }
	.pass {	
		border: none; !important;
	}
	.ctrlDiv, #top * {
		display: none;
	}
}
#passHolder {
	width: 3in;
	margin: auto;
	padding-top: 0;
}
.break {
	page-break-after: always;
}
.pass {
	
	border: solid 2px #0000DD;
	width: 2.4in;
	height: 4.7in;
	margin-top: 4px;
	padding: .2in;
	padding-bottom: 0;
	font-size: .15in;
	text-align: left;
	
}
.passHead {

	padding-left: .4in;
	padding-right: 0;
	padding-top: .3in;
	background: 0 0 url("../media/logo_med.png") no-repeat;
	background-size: 1in;
	height: .8in;
	font-size: .22in;
	text-align: right;
	line-height: .25in;
	
}
.date, .time, .student, .location, .destination, .from {
	font-weight: bold;
}
.time {
	float: right;
}
.date { 
	margin-top: -.1in;
	
}
div span{
	font-weight: normal;
}
.student {
	font-size: .18in;
	margin: .08in 0in;
	text-align: left;
}
.destination {
	font-size: .17in;
	margin-top: .05in;
	margin-bottom: .05in;
}
.sign {
	font-size: .12in;
	margin-bottom: .1in;
}
.sign div.sig {
	position: relative;
	width: 100%;
	border-bottom: 1px #000 solid;
}
.sign span {
	float: right;
}
hr {
	margin: .1in;
	
}
.location {
	margin: 0in 0in;
	font-size: .18in;
}
