/* General Stylesheet 
Scott Kent 
slideout-menu styling:  
 
 Menu Styling */
 
body {
	
	width: 100%;
	height: 100%;
}
/* override styles when printing */
@media print {
  body {
	margin: 0;
	background-color: #fff;
	width: 7.5in;
  }
  header {
	display: none;
	visibility: none;
  }
}
#menu, #panel {
	font-family:Tahoma,Geneva,sans-serif;
}
.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

ul#mainMenu {
	text-decoration: none; 
	list-style: none;
	padding: 0;
	margin: 0;
	border-bottom: solid 1px #AA3333;
	border-top: solid 1px #AA3333;
}
ul#mainMenu li {
	margin: 0;
	border-bottom: solid 1px #AA3333;
	border-top: solid 1px #AA3333;
	
}
ul#mainMenu li a {
	text-decoration: none; 
	color: #0000BB;
	display: block;
	padding: .25em;
	
}
ul#mainMenu li a:hover {
	background-color: #DCDCDD;
	color: #000;
}
span#userPanel {
	float: right;
	text-align: right;
	padding: .3em .6em;
	margin-right: 2em;
	margin-top: -10px;
	background: #CC0000;
	border: 2px solid #222222;
	border-radius: 0 0 .5em .5em;
	border-top: none;
	color: #FFF;
	
}
span#userPanel a {
	font-size: 1em;
	color: #FFF;
	text-decoration: none;
}
// End Menu Stying
#wrapper{
    width:98%;
	text-align: left;
	margin: auto;
	padding: 10px;
	
}
.clear {
	clear: both;
	display: block; 
	height: 1px;
}
.redFlash, .greenFlash {
	background: #AA0000;
	padding: .5em;
	margin: .1em 0;
}
.greenFlash {
	background: #008000;
}
.redFlash.top, 
.greenFlash.top {
	border-radius: .5em .5em 0 0;
}
.redFlash.bottom, 
.greenFlash.bottom{
	border-radius: 0 0 .5em .5em;
}
.highlight {
	border: solid 3px #000;
	background: #FFEDA5;
}
.alert {
	border: 2px solid #000000;
	background: #AA0000;
	color: #FFFFFF;
	padding: .5em;
	border-radius: .5em;
}
.information {
	background: #FFFF66;
	border: solid 1px #666666;
	padding: .5em;
	width: 95%;
	margin: auto;
	margin-top: .5em;
	margin-bottom: .5em;
}
.section {
	border: 1px solid #333333;
	border-radius: .5em;
	padding: 1em;
	width: 95%;
	margin: auto;
}
.small_img {
	height: 200px;
	width: 200px;
}
.small_img img {
	width: 95%;
	border: 1px solid #000000;
	margin: .5em;
	object-fit: contain:
}
span.information {
	font-size: .7em;
	padding: .25em;
}
#topNotification {
	width: 70%;
	margin: auto;
	color: #FFF;
	background-color: #BB0000;
	border: 2px solid #000;
	padding: .5em;
	font-size: 1em;
	visibility: hidden;
	border-radius: .5em;
	margin-bottom: 1em;
	display: none;
	text-align: center; 
}
#pageTitle {
	text-align: center;
	font-size: 2.2em;
	margin: .5em;
	margin-top: -.5em;
	clear: both;
	color: #0000CC;
}
#loginMenu {
	float: right; 
}
#loginPageWrapper {
	width: 50%;
	margin: auto;
}
#loginForm input {
	display: block;
}
#loginForm label {
	font-size: 48px;
}
#busMap{
	border: 3px solid #000000;
	padding: 10px;
	text-align: center;
}
form input#busSubmit{
	display: inline;
}
#countdown{
	font-size: 36px;
	color: #FFFFFF;
	border: 3px #000000 solid;
	background: #EE0000;
	width: 475px;
	margin: auto;
	text-align: center;
	border-bottom: none;
}

#busSelect, 
#busSelectLabel, 
input#altBus{
	font-size: 50px;
}
.busNumber {
	font-size: 100px;
}
}
input#altBus {
	width: 200px;
	text-align: center;
}
#dialog p {
	text-align: center;
	font-size: 36px;
	color: #EE0000;
}
#busPosNotification {
	color: #EE0000;
	font-size: 48px;
}
.busArrival_row {
	font-size: 24px;
	padding: 5px;
	border-bottom: 1px solid #EEE;
}
.importantNotice {
	color: #EE0000;
	font-size: 48px;
	background: #FFFFFF;
	width: 475px;
	margin: auto; 
	text-align: center;
	border: 3px #000000 solid;
	border-bottom: none;
}
.infoWrapper {
	border: solid 1px #666;
	border-radius: .5em;
	padding: .3em;
	background-color: #F2F2F2;
}
.topAlert {
	border: solid 2px #555;
	background-color: #EE0000;
	color: #FFF;
	font-size: 60px;
	text-align: center;
}
.busArrival {
	width: 100%;
	text-align: center;
	margin: auto;
	
}
.busNum{
	border: solid 2px #555;
	margin:auto;
	
	font-size: 60px;
	padding: 50px 20px;
	text-align: left;
}
.arriveTime {
	font-size: 24px;
	display: inline;
	width: 40px;
}
.busHere {
	background: #AAEEAA;
}
.busNum span {
	float:right;
	text-align: center;
	width: 200px;
}
.busNum span.popup {
	font-size: 20px;
	width: 130px;
	text-align: right;
}
.busArrive {
  text-indent: 3000px;
  overflow: hidden;
  width: 100px;
  height: 100px;
  background: url("../media/images/check_mark.jpg") no-repeat center center;
  background-size: 100px;
  display: block;
  margin-left: 50px;
  margin-top: -80px;
}
.busDelete {
  text-indent: 3000px;
  overflow: hidden;
  width: 100px;
  height: 100px;
  background: url("../media/images/x.png") no-repeat center center;
  background-size: 100px;
  display: block;
  margin-left: 50px;
  margin-top: -80px;
}
.popUp a{
  text-indent: 3000px;
  overflow: hidden;
  width: 100px;
  height: 100px;
  background: url("../media/images/goBack.png") no-repeat center center;
  background-size: 100px;
  display: block;
  margin-left: 30px;
  margin-top: -80px;
}
#results{
	margin: 0 20px;
	border-bottom: 1px #A0A0A0 solid;
}
.studentRow {
	text-align: left;
	font-size: 24px;
	border: 1px #A0A0A0 solid;
	padding: 5px;
	border-bottom: none;
	clear: both;
}
.odd {
	background: #F0F0F0;
}
.studentRow a {
	
	margin: 5px 30px;
	
}
.studentRow div {
	float: right;
}

.hidden {
	display: none;
	height: 0px;
}
.cycleChoice, 
.cycleWrapper {
	font-size: 48px;
}
.cycleChoice {
	height: 30px;
	width: 30px;
}
.cycleWrapper label {
	display: inline; 
	
}
.top {
	clear: both;
	font-size: 24px;
}
#getStudent label {
	font-size: 36px;
}
#passSettings {
	height: 1px;
}
.stuDetails {
	padding: 5px;
	margin: 0;
	margin-bottom: 10px; 
	border: 1px #A0A0A0 solid;
	border-top: none;
	
}
ul.schedule {
	border: 1px #CCC solid;
	padding: 5px;
	font-size: 18px;
	width: 47%;
	list-style-type: none;
}	
.schedule li {
	border: 1px #999 solid;
	text-align: left;
	font-size: 18px;
	text-decoration: none;
	padding: 5px 10px;
}
.a {
	float: left; 
}
.b {
	float: right;
}
.studentInfo {
	text-align: left;
}
.studentImage {
	width: 200px;
	padding: 3px;
	margin: 10px;
	
}
.bigList {
	font-size: 48px;
	list-style-type: none;
}
.bigList li {
	padding: 5px; 
	margin: 0; 
	border: 1px #EEE solid; 
}
.bottomInfo {
    height: 100px; 
    position: fixed; 
    bottom:0%;
    width:100%;  
    opacity: 1;
	text-align: center; 
	font-size: 72px;
	color: #AA0000;
	letter-spacing: 8px;
	padding-top: -20px;
}
body#BusChange h1{
	background-color: #0000AA;
	color: #FFFFFF;
	border-bottom: solid 2px #000;
	text-align: center;
	font-variant: small-caps;
	
}
/*

Begin Form Styling 

*/
form.longInput {
	width: 300px;
}
fieldset  {
	text-align: left; 
	margin: 2em;
	border-radius: 10px;
	border: 1px solid #222222;
}
fieldset legend {
	text-align: left;
	
}
fieldset p {
	text-align: left;
}
form label.little, form#loginForm label.little, form#loginForm label.little input {
	font-size: 1em;
	display: inline;
}
form label span {
	display: block; 
	font-size: .8em;
}

/* 

End Forms Styling 

*/ 

.error {
	color: #FFF;
	text-align: center; 
	margin: auto; 
	padding: 5px; 
	border: solid 1px #000; 
	background-color: #CC0000;
}
/* Styling for list item links.*/
#tardySubmission {
	border: solid 1px #000;
	padding: 1em;
}
#tardySubmission #idNum, 
#tardySubmission #pin, 
#tardySubmission label{
	font-size: 2.5em;
	text-align: center;
	margin: .25em auto;
	display: block;
	width: 98%;
}
#tardySubmission input, 
#tardySubmission, 
#tardySubmit {
	border-radius: .5em;
	border: 2px solid #BBB;
	dispay: block; 
	text-align: center;
	margin: auto;
}

#tardySubmission #tardySubmit {
    padding: 1em; 
	width: 60%;
    background:#DDD; 
    border: 2px solid #C6C6C6;
    cursor: pointer;
    -webkit-border-radius: .5em;
    border-radius: .5em; 
	margin: 0 auto;
	text-align: center;
	display: block;
}
#tardySubmission #tardySubmit:hover {
	background: #888;
}
ul.choice {
	list-style: none;
	padding: 0;
}
.choice li {
	display: block;
	margin: 1em auto; 
	border: 2px #CCC solid;
	border-radius: .5em;
	background: #DDD;
	padding: 0;
	text-align: center;
	
}
.choice a {
	padding: .25em;
	display: block;
	text-decoration: none;
}
a.periodSelect.clicked {
	background-color: #FF0000;
	color: #FFF;
	border-radius: .5em;
}
.stuImg.small {
	float: left; 
	width: 20%;
	padding: 5px;
	border: 1px solid #DDD;
	margin-right: 1em;
}
/* 
------------------------------------------------------------------------------- 
Tardy System Specifics
-------------------------------------------------------------------------------
*/
#tardyPass {
	width: 80%;
	padding: .5em;
	margin:0 auto;
	border: 2px solid #DDD;
	border-radius: .5em;
	font-size: 1.5em;
}
#tardyPass h4 {
	font-size: 1.5em;
	margin: .3em;
	diplay:inline-block;
}
#tardyPass p {
	font-size: 1em;
	margin: .4em;
}
#tardyCountDown {
	font-size: .8em;
	margin: .2em;
	color: #FFF;
	background: #AA0000;
	border: solid 2px #880000;
	text-align: center;
}
/* 
---------------------------------------------------------------------------
List structures
---------------------------------------------------------------------------
*/
.infoList {
	padding: 0;
	margin: 0;
}
/* 
---------------------------------------------------------------------------
Tardy List 
---------------------------------------------------------------------------
*/
#classList li.tardy {
	background: #FFFF99;
}
#classList li ol, #classList a {
	list-style: none;
	padding: .5em;
	margin: .3em;
}
#classList a.expandLink {
	display: block;
	margin: .1em;
	text-decoration: none;
	border-radius: .3em;
	color: #000;
}
#classList li.active a.expandLink {
	background: #B9B9B9;
	color: #FFF;
}
ul#classList.infoList li {
	padding: .3em;
	list-style: none;
}
.divExpandHeader ol {
	display: none;
}
#classList li {
	margin: .3em;
	border: solid 2px #E0E0E0;
	background: #F6F6F6;
	border-radius: .5em;
}
#classList li ol li {
	background: #FFF;
	border: solid 2px #EEEEEE;
	padding: .5em;
}
#classList li ol li span {
		float: right;
	}
@media only screen and (max-width: 600px) {
	#classList li ol li span {
		display: block;
		float: none;
		text-align: center;
		margin-top: .5em;
	}
	#classList li ol li span a {
		padding: .5em;
	}
}

#classList li.active {
	background: #DCDCDC;
}
a.markTardy, a.markTardy:link, a.markTardy:visited, a.markTardy:active, 
a.tardyInfo, a.tardyInfo:link, a.tardyInfo:visited, a.tardyInfo:active, 
a.resetPin, a.resetPin:link, a.resetPin:visited, a.resetPin:active 
a.deleteTardy, a.deleteTardy:link, a.deleteTardy:visited, a.deleteTardy:active {
	color: transparent;
	display: inline-block;
	height: 24px;
	width: 24px;
}
#classList li ol li a.markTardy {
	text-indent: -1000px;
	overflow: hidden;
	height: 24px;
	width: 24px;
	background: url(../media/images/icons/alarm-clock-2-24.png) no-repeat center center;
}
#classList li ol li a.tardyInfo {
	text-indent: -1000px;
	overflow: hidden;
	height: 24px;
	width: 24px;
	background: url(../media/images/icons/info-24.png) no-repeat center center;
}
#classList li ol li a.deleteTardy {
	text-indent: -1000px;
	overflow: hidden;
	height: 24px;
	width: 24px;
	background: url(../media/images/icons/trash-9-24.png) no-repeat center center;
}
#classList li ol li a.resetPin {
	text-indent: -1000px;
	overflow: hidden;
	height: 24px;
	width: 24px;
	background: url(../media/images/icons/pinReset-2-24.png) no-repeat center center;
}

/* ------------------------------- Parking -------------------------------------*/

.parking_img {
	max-width: 200px; 
	max-height: 300px;
}

