@import url(carbon.css);

#teacherMenuHeader,
#adminMenuHeader,
#teacherMenuSide,
#adminMenuSide {
  display: none;
}

.someSpacing {
  padding: .5em 0;
}

.user-container {
  padding: 1rem;
}

.user-container>p,
.user-container>strong,
.user-container>h5 {
  color: #f4f4f4;
}

.bx--modal-container .bx--modal-content {
  padding-right: var(--cds-spacing-05, 1rem);
}

.bx--product-switcher__all-btn {
  padding: 0;
  padding-top: .5rem;
}

.bx--table-row--menu-option .bx--overflow-menu-options__btn .bx--overflow-menu-options__option-content img {
  position: relative;
  top: .1875rem;
  margin-right: .5rem;
}

.bx--modal-content--overflow-indicator {
  pointer-events: none;
}

page-context {
  display: none;
}

.bx--skeleton__text,
table.bx--skeleton span {
  color: transparent;
  height: unset;
  margin: 0;
}

.progress-bar {
  height: 4px;
  background-color: var(--cds-ui-01, #f4f4f4);
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 3rem;
  z-index: 99999;
}

.progress-bar.error {
  background-color: var(--cds-text-error, #da1e28);
}

.progress-bar-value {
  width: 100%;
  height: 100%;
  background-color: var(--cds-interactive-01, #ee7623);
  animation: indeterminateAnimation 2s infinite linear;
  transform-origin: 0% 50%;
}
.progress-bar.error .progress-bar-value {
  display: none;
}

.bx--inline-notification--error {
  position: absolute;
  bottom: 0;
  left: 1rem;
}

@keyframes indeterminateAnimation {
  0% {
    transform: translateX(0) scaleX(0);
  }

  20% {
    transform: translateX(0) scaleX(0.4);
  }

  50%,
  100% {
    transform: translateX(100%) scaleX(0.5);
  }
}

i {
  font-style: italic !important;
}

.bottomControls {
  position: absolute;
  bottom: 4rem;
  width: 14rem;
}

.bottomControls .bx--form-item {
  display: inline-block;
}

.bx--toggle-input:checked+.bx--toggle-input__label>.bx--toggle__switch::before {
  background-color: var(--cds-ui-04, #8d8d8d) !important;
}

#devModeContextRaw .string { color: green !important; }
#devModeContextRaw .number { color: darkorange !important; }
#devModeContextRaw .boolean { color: blue !important; }
#devModeContextRaw .null { color: magenta !important; }
#devModeContextRaw .key { color: red !important; }
#devmodeButton {float: right; position: relative; top: 1rem;}

/* hotfix 1 -- */
/* for some reason the CC library doesnt have a native responsive sidemenu adaptation for the UI shell header so this is my solution to that */
/* some user contexts/flows may have further menus or surfaces that dictate a dedicated sidebar but this will suffice for now */
@media (min-width: 66rem) {
  .IAE--topnavMenu {
    display: none !important;
  }
}

.IAE--topnavMenu {
  display: block;
}

/* -- */

/* hotfix 2 -- */
/* fix the user selection control being squished */
.bx--header__menu-trigger {
  margin-right: 0 !important;
}

/* -- */

body {
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--cds-text-01, #161616);
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232300;
}

/* #region add theming support with html theme tag */
:root, :root[data-theme="white"], .bx--overflow-menu-options {
  --cds-interactive-01: #ee7623;
  --cds-interactive-02: #393939;
  --cds-interactive-03: #ee7623;
  --cds-interactive-04: #ee7623;
  --cds-ui-background: #ffffff;
  --cds-ui-01: #f4f4f4;
  --cds-ui-02: #ffffff;
  --cds-ui-03: #e0e0e0;
  --cds-ui-04: #8d8d8d;
  --cds-ui-05: #161616;
  --cds-text-01: #161616;
  --cds-text-02: #525252;
  --cds-text-03: #a8a8a8;
  --cds-text-04: #ffffff;
  --cds-text-05: #6f6f6f;
  --cds-text-error: #da1e28;
  --cds-icon-01: #161616;
  --cds-icon-02: #525252;
  --cds-icon-03: #ffffff;
  --cds-link-01: #ee7623;
  --cds-link-02: #BE570E;
  --cds-inverse-link: #F6AD79;
  --cds-field-01: #f4f4f4;
  --cds-field-02: #ffffff;
  --cds-inverse-01: #ffffff;
  --cds-inverse-02: #393939;
  --cds-support-01: #da1e28;
  --cds-support-02: #198038;
  --cds-support-03: #f1c21b;
  --cds-support-04: #0043ce;
  --cds-inverse-support-01: #fa4d56;
  --cds-inverse-support-02: #42be65;
  --cds-inverse-support-03: #f1c21b;
  --cds-inverse-support-04: #4589ff;
  --cds-overlay-01: rgba(22, 22, 22, 0.5);
  --cds-danger-01: #da1e28;
  --cds-danger-02: #da1e28;
  --cds-focus: #ee7623;
  --cds-inverse-focus-ui: #ffffff;
  --cds-hover-primary: #E56910;
  --cds-active-primary: #723408;
  --cds-hover-primary-text: #BE570E;
  --cds-hover-secondary: #4c4c4c;
  --cds-active-secondary: #6f6f6f;
  --cds-hover-tertiary: #E56910;
  --cds-active-tertiary: #723408;
  --cds-hover-ui: #e5e5e5;
  --cds-hover-light-ui: #e5e5e5;
  --cds-hover-selected-ui: #cacaca;
  --cds-active-ui: #c6c6c6;
  --cds-active-light-ui: #c6c6c6;
  --cds-selected-ui: #e0e0e0;
  --cds-selected-light-ui: #e0e0e0;
  --cds-inverse-hover-ui: #4c4c4c;
  --cds-hover-danger: #b81921;
  --cds-active-danger: #750e13;
  --cds-hover-row: #e5e5e5;
  --cds-visited-link: #8a3ffc;
  --cds-disabled-01: #f4f4f4;
  --cds-disabled-02: #c6c6c6;
  --cds-disabled-03: #8d8d8d;
  --cds-highlight: #F8C5A0;
  --cds-decorative-01: #e0e0e0;
  --cds-button-separator: #e0e0e0;
  --cds-skeleton-01: #e5e5e5;
  --cds-skeleton-02: #c6c6c6;
  --cds-background: #ffffff;
  --cds-layer: #f4f4f4;
  --cds-layer-accent: #e0e0e0;
  --cds-layer-accent-hover: #d1d1d1;
  --cds-layer-accent-active: #a8a8a8;
  --cds-field: #f4f4f4;
  --cds-background-inverse: #393939;
  --cds-background-brand: #ee7623;
  --cds-interactive: #ee7623;
  --cds-border-subtle: #e0e0e0;
  --cds-border-strong: #8d8d8d;
  --cds-border-inverse: #161616;
  --cds-border-interactive: #ee7623;
  --cds-text-primary: #161616;
  --cds-text-secondary: #525252;
  --cds-text-placeholder: #a8a8a8;
  --cds-text-helper: #6f6f6f;
  --cds-text-on-color: #ffffff;
  --cds-text-inverse: #ffffff;
  --cds-link-primary: #ee7623;
  --cds-link-secondary: #BE570E;
  --cds-link-visited: #8a3ffc;
  --cds-link-inverse: #F6AD79;
  --cds-icon-primary: #161616;
  --cds-icon-secondary: #525252;
  --cds-icon-on-color: #ffffff;
  --cds-icon-inverse: #ffffff;
  --cds-support-error: #da1e28;
  --cds-support-success: #198038;
  --cds-support-warning: #f1c21b;
  --cds-support-info: #BE570E;
  --cds-support-error-inverse: #fa4d56;
  --cds-support-success-inverse: #42be65;
  --cds-support-warning-inverse: #f1c21b;
  --cds-support-info-inverse: #F18A41;
  --cds-overlay: rgba(22, 22, 22, 0.5);
  --cds-toggle-off: #8d8d8d;
  --cds-shadow: rgba(0, 0, 0, 0.3);
  --cds-button-primary: #ee7623;
  --cds-button-secondary: #393939;
  --cds-button-tertiary: #ee7623;
  --cds-button-danger-primary: #da1e28;
  --cds-button-danger-secondary: #da1e28;
  --cds-background-active: #c6c6c6;
  --cds-layer-active: #c6c6c6;
  --cds-button-danger-active: #750e13;
  --cds-button-primary-active: #723408;
  --cds-button-secondary-active: #6f6f6f;
  --cds-button-tertiary-active: #723408;
  --cds-focus-inset: #ffffff;
  --cds-focus-inverse: #ffffff;
  --cds-background-hover: #e5e5e5;
  --cds-layer-hover: #e5e5e5;
  --cds-field-hover: #e5e5e5;
  --cds-background-inverse-hover: #4c4c4c;
  --cds-link-primary-hover: #BE570E;
  --cds-button-danger-hover: #b81921;
  --cds-button-primary-hover: #E56910;
  --cds-button-secondary-hover: #4c4c4c;
  --cds-button-tertiary-hover: #E56910;
  --cds-background-selected: #e0e0e0;
  --cds-background-selected-hover: #cacaca;
  --cds-layer-selected: #e0e0e0;
  --cds-layer-selected-hover: #cacaca;
  --cds-layer-selected-inverse: #161616;
  --cds-border-subtle-selected: #c6c6c6;
  --cds-border-disabled: #f4f4f4;
  --cds-text-disabled: #c6c6c6;
  --cds-button-disabled: #c6c6c6;
  --cds-icon-disabled: #c6c6c6;
  --cds-text-on-color-disabled: #8d8d8d;
  --cds-icon-on-color-disabled: #8d8d8d;
  --cds-layer-selected-disabled: #8d8d8d;
  --cds-skeleton-background: #e5e5e5;
  --cds-skeleton-element: #c6c6c6;
  --cds-brand-01: #ee7623;
  --cds-brand-02: #393939;
  --cds-brand-03: #ee7623;
  --cds-active-01: #c6c6c6;
  --cds-hover-field: #e5e5e5;
  --cds-danger: #da1e28;
  --cds-caption-01-font-size: 0.75rem;
  --cds-caption-01-font-weight: 400;
  --cds-caption-01-line-height: 1.33333;
  --cds-caption-01-letter-spacing: 0.32px;
  --cds-caption-02-font-size: 0.875rem;
  --cds-caption-02-font-weight: 400;
  --cds-caption-02-line-height: 1.28572;
  --cds-caption-02-letter-spacing: 0.32px;
  --cds-label-01-font-size: 0.75rem;
  --cds-label-01-font-weight: 400;
  --cds-label-01-line-height: 1.33333;
  --cds-label-01-letter-spacing: 0.32px;
  --cds-label-02-font-size: 0.875rem;
  --cds-label-02-font-weight: 400;
  --cds-label-02-line-height: 1.28572;
  --cds-label-02-letter-spacing: 0.16px;
  --cds-helper-text-01-font-size: 0.75rem;
  --cds-helper-text-01-line-height: 1.33333;
  --cds-helper-text-01-letter-spacing: 0.32px;
  --cds-helper-text-02-font-size: 0.875rem;
  --cds-helper-text-02-line-height: 1.28572;
  --cds-helper-text-02-letter-spacing: 0.16px;
  --cds-body-short-01-font-size: 0.875rem;
  --cds-body-short-01-font-weight: 400;
  --cds-body-short-01-line-height: 1.28572;
  --cds-body-short-01-letter-spacing: 0.16px;
  --cds-body-long-01-font-size: 0.875rem;
  --cds-body-long-01-font-weight: 400;
  --cds-body-long-01-line-height: 1.42857;
  --cds-body-long-01-letter-spacing: 0.16px;
  --cds-body-short-02-font-size: 1rem;
  --cds-body-short-02-font-weight: 400;
  --cds-body-short-02-line-height: 1.375;
  --cds-body-short-02-letter-spacing: 0;
  --cds-body-long-02-font-size: 1rem;
  --cds-body-long-02-font-weight: 400;
  --cds-body-long-02-line-height: 1.5;
  --cds-body-long-02-letter-spacing: 0;
  --cds-code-01-font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
  --cds-code-01-font-size: 0.75rem;
  --cds-code-01-font-weight: 400;
  --cds-code-01-line-height: 1.33333;
  --cds-code-01-letter-spacing: 0.32px;
  --cds-code-02-font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
  --cds-code-02-font-size: 0.875rem;
  --cds-code-02-font-weight: 400;
  --cds-code-02-line-height: 1.42857;
  --cds-code-02-letter-spacing: 0.32px;
  --cds-heading-01-font-size: 0.875rem;
  --cds-heading-01-font-weight: 600;
  --cds-heading-01-line-height: 1.42857;
  --cds-heading-01-letter-spacing: 0.16px;
  --cds-productive-heading-01-font-size: 0.875rem;
  --cds-productive-heading-01-font-weight: 600;
  --cds-productive-heading-01-line-height: 1.28572;
  --cds-productive-heading-01-letter-spacing: 0.16px;
  --cds-heading-02-font-size: 1rem;
  --cds-heading-02-font-weight: 600;
  --cds-heading-02-line-height: 1.5;
  --cds-heading-02-letter-spacing: 0;
  --cds-productive-heading-02-font-size: 1rem;
  --cds-productive-heading-02-font-weight: 600;
  --cds-productive-heading-02-line-height: 1.375;
  --cds-productive-heading-02-letter-spacing: 0;
  --cds-productive-heading-03-font-size: 1.25rem;
  --cds-productive-heading-03-font-weight: 400;
  --cds-productive-heading-03-line-height: 1.4;
  --cds-productive-heading-03-letter-spacing: 0;
  --cds-productive-heading-04-font-size: 1.75rem;
  --cds-productive-heading-04-font-weight: 400;
  --cds-productive-heading-04-line-height: 1.28572;
  --cds-productive-heading-04-letter-spacing: 0;
  --cds-productive-heading-05-font-size: 2rem;
  --cds-productive-heading-05-font-weight: 300;
  --cds-productive-heading-05-line-height: 1.25;
  --cds-productive-heading-05-letter-spacing: 0;
  --cds-productive-heading-06-font-size: 2.625rem;
  --cds-productive-heading-06-font-weight: 300;
  --cds-productive-heading-06-line-height: 1.199;
  --cds-productive-heading-06-letter-spacing: 0;
  --cds-productive-heading-07-font-size: 3.375rem;
  --cds-productive-heading-07-font-weight: 300;
  --cds-productive-heading-07-line-height: 1.199;
  --cds-productive-heading-07-letter-spacing: 0;
  --cds-expressive-heading-01-font-size: 0.875rem;
  --cds-expressive-heading-01-font-weight: 600;
  --cds-expressive-heading-01-line-height: 1.25;
  --cds-expressive-heading-01-letter-spacing: 0.16px;
  --cds-expressive-heading-02-font-size: 1rem;
  --cds-expressive-heading-02-font-weight: 600;
  --cds-expressive-heading-02-line-height: 1.5;
  --cds-expressive-heading-02-letter-spacing: 0;
  --cds-expressive-heading-03-font-size: 1.25rem;
  --cds-expressive-heading-03-font-weight: 400;
  --cds-expressive-heading-03-line-height: 1.4;
  --cds-expressive-heading-03-letter-spacing: 0;
  --cds-expressive-heading-04-font-size: 1.75rem;
  --cds-expressive-heading-04-font-weight: 400;
  --cds-expressive-heading-04-line-height: 1.28572;
  --cds-expressive-heading-04-letter-spacing: 0;
  --cds-expressive-heading-05-font-size: 2rem;
  --cds-expressive-heading-05-font-weight: 300;
  --cds-expressive-heading-05-line-height: 1.25;
  --cds-expressive-heading-05-letter-spacing: 0;
  --cds-expressive-heading-06-font-size: 2rem;
  --cds-expressive-heading-06-font-weight: 600;
  --cds-expressive-heading-06-line-height: 1.25;
  --cds-expressive-heading-06-letter-spacing: 0;
  --cds-expressive-paragraph-01-font-size: 1.5rem;
  --cds-expressive-paragraph-01-font-weight: 300;
  --cds-expressive-paragraph-01-line-height: 1.334;
  --cds-expressive-paragraph-01-letter-spacing: 0;
  --cds-quotation-01-font-family: 'IBM Plex Serif', 'Georgia', Times, serif;
  --cds-quotation-01-font-size: 1.25rem;
  --cds-quotation-01-font-weight: 400;
  --cds-quotation-01-line-height: 1.3;
  --cds-quotation-01-letter-spacing: 0;
  --cds-quotation-02-font-family: 'IBM Plex Serif', 'Georgia', Times, serif;
  --cds-quotation-02-font-size: 2rem;
  --cds-quotation-02-font-weight: 300;
  --cds-quotation-02-line-height: 1.25;
  --cds-quotation-02-letter-spacing: 0;
  --cds-display-01-font-size: 2.625rem;
  --cds-display-01-font-weight: 300;
  --cds-display-01-line-height: 1.19;
  --cds-display-01-letter-spacing: 0;
  --cds-display-02-font-size: 2.625rem;
  --cds-display-02-font-weight: 600;
  --cds-display-02-line-height: 1.19;
  --cds-display-02-letter-spacing: 0;
  --cds-display-03-font-size: 2.625rem;
  --cds-display-03-font-weight: 300;
  --cds-display-03-line-height: 1.19;
  --cds-display-03-letter-spacing: 0;
  --cds-display-04-font-size: 2.625rem;
  --cds-display-04-font-weight: 300;
  --cds-display-04-line-height: 1.19;
  --cds-display-04-letter-spacing: 0;
  --cds-legal-01-font-size: 0.75rem;
  --cds-legal-01-font-weight: 400;
  --cds-legal-01-line-height: 1.33333;
  --cds-legal-01-letter-spacing: 0.32px;
  --cds-legal-02-font-size: 0.875rem;
  --cds-legal-02-font-weight: 400;
  --cds-legal-02-line-height: 1.28572;
  --cds-legal-02-letter-spacing: 0.16px;
  --cds-body-compact-01-font-size: 0.875rem;
  --cds-body-compact-01-font-weight: 400;
  --cds-body-compact-01-line-height: 1.28572;
  --cds-body-compact-01-letter-spacing: 0.16px;
  --cds-body-compact-02-font-size: 1rem;
  --cds-body-compact-02-font-weight: 400;
  --cds-body-compact-02-line-height: 1.375;
  --cds-body-compact-02-letter-spacing: 0;
  --cds-body-01-font-size: 0.875rem;
  --cds-body-01-font-weight: 400;
  --cds-body-01-line-height: 1.42857;
  --cds-body-01-letter-spacing: 0.16px;
  --cds-body-02-font-size: 1rem;
  --cds-body-02-font-weight: 400;
  --cds-body-02-line-height: 1.5;
  --cds-body-02-letter-spacing: 0;
  --cds-heading-compact-01-font-size: 0.875rem;
  --cds-heading-compact-01-font-weight: 600;
  --cds-heading-compact-01-line-height: 1.28572;
  --cds-heading-compact-01-letter-spacing: 0.16px;
  --cds-heading-compact-02-font-size: 1rem;
  --cds-heading-compact-02-font-weight: 600;
  --cds-heading-compact-02-line-height: 1.375;
  --cds-heading-compact-02-letter-spacing: 0;
  --cds-heading-03-font-size: 1.25rem;
  --cds-heading-03-font-weight: 400;
  --cds-heading-03-line-height: 1.4;
  --cds-heading-03-letter-spacing: 0;
  --cds-heading-04-font-size: 1.75rem;
  --cds-heading-04-font-weight: 400;
  --cds-heading-04-line-height: 1.28572;
  --cds-heading-04-letter-spacing: 0;
  --cds-heading-05-font-size: 2rem;
  --cds-heading-05-font-weight: 300;
  --cds-heading-05-line-height: 1.25;
  --cds-heading-05-letter-spacing: 0;
  --cds-heading-06-font-size: 2.625rem;
  --cds-heading-06-font-weight: 300;
  --cds-heading-06-line-height: 1.199;
  --cds-heading-06-letter-spacing: 0;
  --cds-heading-07-font-size: 3.375rem;
  --cds-heading-07-font-weight: 300;
  --cds-heading-07-line-height: 1.199;
  --cds-heading-07-letter-spacing: 0;
  --cds-fluid-heading-03-font-size: 1.25rem;
  --cds-fluid-heading-03-font-weight: 400;
  --cds-fluid-heading-03-line-height: 1.4;
  --cds-fluid-heading-03-letter-spacing: 0;
  --cds-fluid-heading-04-font-size: 1.75rem;
  --cds-fluid-heading-04-font-weight: 400;
  --cds-fluid-heading-04-line-height: 1.28572;
  --cds-fluid-heading-04-letter-spacing: 0;
  --cds-fluid-heading-05-font-size: 2rem;
  --cds-fluid-heading-05-font-weight: 300;
  --cds-fluid-heading-05-line-height: 1.25;
  --cds-fluid-heading-05-letter-spacing: 0;
  --cds-fluid-heading-06-font-size: 2rem;
  --cds-fluid-heading-06-font-weight: 600;
  --cds-fluid-heading-06-line-height: 1.25;
  --cds-fluid-heading-06-letter-spacing: 0;
  --cds-fluid-paragraph-01-font-size: 1.5rem;
  --cds-fluid-paragraph-01-font-weight: 300;
  --cds-fluid-paragraph-01-line-height: 1.334;
  --cds-fluid-paragraph-01-letter-spacing: 0;
  --cds-fluid-quotation-01-font-family: 'IBM Plex Serif', 'Georgia', Times, serif;
  --cds-fluid-quotation-01-font-size: 1.25rem;
  --cds-fluid-quotation-01-font-weight: 400;
  --cds-fluid-quotation-01-line-height: 1.3;
  --cds-fluid-quotation-01-letter-spacing: 0;
  --cds-fluid-quotation-02-font-family: 'IBM Plex Serif', 'Georgia', Times, serif;
  --cds-fluid-quotation-02-font-size: 2rem;
  --cds-fluid-quotation-02-font-weight: 300;
  --cds-fluid-quotation-02-line-height: 1.25;
  --cds-fluid-quotation-02-letter-spacing: 0;
  --cds-fluid-display-01-font-size: 2.625rem;
  --cds-fluid-display-01-font-weight: 300;
  --cds-fluid-display-01-line-height: 1.19;
  --cds-fluid-display-01-letter-spacing: 0;
  --cds-fluid-display-02-font-size: 2.625rem;
  --cds-fluid-display-02-font-weight: 600;
  --cds-fluid-display-02-line-height: 1.19;
  --cds-fluid-display-02-letter-spacing: 0;
  --cds-fluid-display-03-font-size: 2.625rem;
  --cds-fluid-display-03-font-weight: 300;
  --cds-fluid-display-03-line-height: 1.19;
  --cds-fluid-display-03-letter-spacing: 0;
  --cds-fluid-display-04-font-size: 2.625rem;
  --cds-fluid-display-04-font-weight: 300;
  --cds-fluid-display-04-line-height: 1.19;
  --cds-fluid-display-04-letter-spacing: 0;
  --cds-spacing-01: 0.125rem;
  --cds-spacing-02: 0.25rem;
  --cds-spacing-03: 0.5rem;
  --cds-spacing-04: 0.75rem;
  --cds-spacing-05: 1rem;
  --cds-spacing-06: 1.5rem;
  --cds-spacing-07: 2rem;
  --cds-spacing-08: 2.5rem;
  --cds-spacing-09: 3rem;
  --cds-spacing-10: 4rem;
  --cds-spacing-11: 5rem;
  --cds-spacing-12: 6rem;
  --cds-spacing-13: 10rem;
  --cds-fluid-spacing-01: 0;
  --cds-fluid-spacing-02: 2vw;
  --cds-fluid-spacing-03: 5vw;
  --cds-fluid-spacing-04: 10vw;
  --cds-layout-01: 1rem;
  --cds-layout-02: 1.5rem;
  --cds-layout-03: 2rem;
  --cds-layout-04: 3rem;
  --cds-layout-05: 4rem;
  --cds-layout-06: 6rem;
  --cds-layout-07: 10rem;
  --cds-container-01: 1.5rem;
  --cds-container-02: 2rem;
  --cds-container-03: 2.5rem;
  --cds-container-04: 3rem;
  --cds-container-05: 4rem;
  --cds-size-xsmall: 1.5rem;
  --cds-size-small: 2rem;
  --cds-size-medium: 2.5rem;
  --cds-size-large: 3rem;
  --cds-size-xlarge: 4rem;
  --cds-size-2XLarge: 5rem;
  --cds-icon-size-01: 1rem;
  --cds-icon-size-02: 1.25rem;
  --cds-tag-background-red: #ffd7d9;
  --cds-tag-color-red: #750e13;
  --cds-tag-hover-red: #ffb3b8;
  --cds-tag-background-magenta: #ffd6e8;
  --cds-tag-color-magenta: #740937;
  --cds-tag-hover-magenta: #ffafd2;
  --cds-tag-background-purple: #e8daff;
  --cds-tag-color-purple: #491d8b;
  --cds-tag-hover-purple: #d4bbff;
  --cds-tag-background-blue: #F8C5A0;
  --cds-tag-color-blue: #723408;
  --cds-tag-hover-blue: #F7B98D;
  --cds-tag-background-cyan: #bae6ff;
  --cds-tag-color-cyan: #003a6d;
  --cds-tag-hover-cyan: #82cfff;
  --cds-tag-background-teal: #9ef0f0;
  --cds-tag-color-teal: #004144;
  --cds-tag-hover-teal: #3ddbd9;
  --cds-tag-background-green: #a7f0ba;
  --cds-tag-color-green: #044317;
  --cds-tag-hover-green: #6fdc8c;
  --cds-tag-background-gray: #e0e0e0;
  --cds-tag-color-gray: #393939;
  --cds-tag-hover-gray: #c6c6c6;
  --cds-tag-background-cool-gray: #dde1e6;
  --cds-tag-color-cool-gray: #343a3f;
  --cds-tag-hover-cool-gray: #c1c7cd;
  --cds-tag-background-warm-gray: #e5e0df;
  --cds-tag-color-warm-gray: #3c3838;
  --cds-tag-hover-warm-gray: #cac5c4;
  --cds-notification-background-error: #fff1f1;
  --cds-notification-background-success: #defbe6;
  --cds-notification-background-info: #edf5ff;
  --cds-notification-background-warning: #fdf6dd;
  --cds-notification-action-hover: #ffffff
}

:root[theme=g100] {
  --cds-interactive-01: #ee7623;
  --cds-interactive-02: #6f6f6f;
  --cds-interactive-03: #ffffff;
  --cds-interactive-04: #F18A41;
  --cds-ui-background: #161616;
  --cds-ui-01: #262626;
  --cds-ui-02: #393939;
  --cds-ui-03: #393939;
  --cds-ui-04: #6f6f6f;
  --cds-ui-05: #f4f4f4;
  --cds-text-01: #f4f4f4;
  --cds-text-02: #c6c6c6;
  --cds-text-03: #6f6f6f;
  --cds-text-04: #ffffff;
  --cds-text-05: #8d8d8d;
  --cds-text-error: #ff8389;
  --cds-icon-01: #f4f4f4;
  --cds-icon-02: #c6c6c6;
  --cds-icon-03: #ffffff;
  --cds-link-01: #F6AD79;
  --cds-link-02: #F7B98D;
  --cds-inverse-link: #ee7623;
  --cds-field-01: #262626;
  --cds-field-02: #393939;
  --cds-inverse-01: #161616;
  --cds-inverse-02: #f4f4f4;
  --cds-support-01: #fa4d56;
  --cds-support-02: #42be65;
  --cds-support-03: #f1c21b;
  --cds-support-04: #4589ff;
  --cds-inverse-support-01: #da1e28;
  --cds-inverse-support-02: #24a148;
  --cds-inverse-support-03: #f1c21b;
  --cds-inverse-support-04: #4589ff;
  --cds-overlay-01: rgba(0, 0, 0, 0.65);
  --cds-danger-01: #da1e28;
  --cds-danger-02: #fa4d56;
  --cds-focus: #ffffff;
  --cds-inverse-focus-ui: #ee7623;
  --cds-hover-primary: #E56910;
  --cds-active-primary: #723408;
  --cds-hover-primary-text: #F7B98D;
  --cds-hover-secondary: #606060;
  --cds-active-secondary: #393939;
  --cds-hover-tertiary: #f4f4f4;
  --cds-active-tertiary: #c6c6c6;
  --cds-hover-ui: #353535;
  --cds-hover-light-ui: #4c4c4c;
  --cds-hover-selected-ui: #4c4c4c;
  --cds-active-ui: #525252;
  --cds-active-light-ui: #6f6f6f;
  --cds-selected-ui: #393939;
  --cds-selected-light-ui: #525252;
  --cds-inverse-hover-ui: #e5e5e5;
  --cds-hover-danger: #b81921;
  --cds-active-danger: #750e13;
  --cds-hover-row: #353535;
  --cds-visited-link: #be95ff;
  --cds-disabled-01: #262626;
  --cds-disabled-02: #525252;
  --cds-disabled-03: #8d8d8d;
  --cds-highlight: #723408;
  --cds-decorative-01: #525252;
  --cds-button-separator: #161616;
  --cds-skeleton-01: #353535;
  --cds-skeleton-02: #525252;
  --cds-background: #161616;
  --cds-layer: #262626;
  --cds-layer-accent: #393939;
  --cds-layer-accent-hover: #474747;
  --cds-layer-accent-active: #6f6f6f;
  --cds-field: #262626;
  --cds-background-inverse: #f4f4f4;
  --cds-background-brand: #ee7623;
  --cds-interactive: #F18A41;
  --cds-border-subtle: #393939;
  --cds-border-strong: #6f6f6f;
  --cds-border-inverse: #f4f4f4;
  --cds-border-interactive: #F18A41;
  --cds-text-primary: #f4f4f4;
  --cds-text-secondary: #c6c6c6;
  --cds-text-placeholder: #6f6f6f;
  --cds-text-helper: #8d8d8d;
  --cds-text-on-color: #ffffff;
  --cds-text-inverse: #161616;
  --cds-link-primary: #F6AD79;
  --cds-link-secondary: #F7B98D;
  --cds-link-visited: #be95ff;
  --cds-link-inverse: #ee7623;
  --cds-icon-primary: #f4f4f4;
  --cds-icon-secondary: #c6c6c6;
  --cds-icon-on-color: #ffffff;
  --cds-icon-inverse: #161616;
  --cds-support-error: #fa4d56;
  --cds-support-success: #42be65;
  --cds-support-warning: #f1c21b;
  --cds-support-info: #F18A41;
  --cds-support-error-inverse: #da1e28;
  --cds-support-success-inverse: #24a148;
  --cds-support-warning-inverse: #f1c21b;
  --cds-support-info-inverse: #ee7623;
  --cds-overlay: rgba(0, 0, 0, 0.65);
  --cds-toggle-off: #6f6f6f;
  --cds-shadow: rgba(0, 0, 0, 0.8);
  --cds-button-primary: #ee7623;
  --cds-button-secondary: #6f6f6f;
  --cds-button-tertiary: #ffffff;
  --cds-button-danger-primary: #da1e28;
  --cds-button-danger-secondary: #fa4d56;
  --cds-background-active: #525252;
  --cds-layer-active: #525252;
  --cds-button-danger-active: #750e13;
  --cds-button-primary-active: #723408;
  --cds-button-secondary-active: #393939;
  --cds-button-tertiary-active: #c6c6c6;
  --cds-focus-inset: #161616;
  --cds-focus-inverse: #ee7623;
  --cds-background-hover: #353535;
  --cds-layer-hover: #353535;
  --cds-field-hover: #353535;
  --cds-background-inverse-hover: #e5e5e5;
  --cds-link-primary-hover: #F7B98D;
  --cds-button-danger-hover: #b81921;
  --cds-button-primary-hover: #E56910;
  --cds-button-secondary-hover: #606060;
  --cds-button-tertiary-hover: #f4f4f4;
  --cds-background-selected: #393939;
  --cds-background-selected-hover: #4c4c4c;
  --cds-layer-selected: #393939;
  --cds-layer-selected-hover: #4c4c4c;
  --cds-layer-selected-inverse: #f4f4f4;
  --cds-border-subtle-selected: #525252;
  --cds-border-disabled: #262626;
  --cds-text-disabled: #525252;
  --cds-button-disabled: #525252;
  --cds-icon-disabled: #525252;
  --cds-text-on-color-disabled: #8d8d8d;
  --cds-icon-on-color-disabled: #8d8d8d;
  --cds-layer-selected-disabled: #8d8d8d;
  --cds-skeleton-background: #353535;
  --cds-skeleton-element: #525252;
  --cds-brand-01: #ee7623;
  --cds-brand-02: #6f6f6f;
  --cds-brand-03: #ffffff;
  --cds-active-01: #525252;
  --cds-hover-field: #353535;
  --cds-danger: #da1e28;
  --cds-caption-01-font-size: 0.75rem;
  --cds-caption-01-font-weight: 400;
  --cds-caption-01-line-height: 1.33333;
  --cds-caption-01-letter-spacing: 0.32px;
  --cds-caption-02-font-size: 0.875rem;
  --cds-caption-02-font-weight: 400;
  --cds-caption-02-line-height: 1.28572;
  --cds-caption-02-letter-spacing: 0.32px;
  --cds-label-01-font-size: 0.75rem;
  --cds-label-01-font-weight: 400;
  --cds-label-01-line-height: 1.33333;
  --cds-label-01-letter-spacing: 0.32px;
  --cds-label-02-font-size: 0.875rem;
  --cds-label-02-font-weight: 400;
  --cds-label-02-line-height: 1.28572;
  --cds-label-02-letter-spacing: 0.16px;
  --cds-helper-text-01-font-size: 0.75rem;
  --cds-helper-text-01-line-height: 1.33333;
  --cds-helper-text-01-letter-spacing: 0.32px;
  --cds-helper-text-02-font-size: 0.875rem;
  --cds-helper-text-02-line-height: 1.28572;
  --cds-helper-text-02-letter-spacing: 0.16px;
  --cds-body-short-01-font-size: 0.875rem;
  --cds-body-short-01-font-weight: 400;
  --cds-body-short-01-line-height: 1.28572;
  --cds-body-short-01-letter-spacing: 0.16px;
  --cds-body-long-01-font-size: 0.875rem;
  --cds-body-long-01-font-weight: 400;
  --cds-body-long-01-line-height: 1.42857;
  --cds-body-long-01-letter-spacing: 0.16px;
  --cds-body-short-02-font-size: 1rem;
  --cds-body-short-02-font-weight: 400;
  --cds-body-short-02-line-height: 1.375;
  --cds-body-short-02-letter-spacing: 0;
  --cds-body-long-02-font-size: 1rem;
  --cds-body-long-02-font-weight: 400;
  --cds-body-long-02-line-height: 1.5;
  --cds-body-long-02-letter-spacing: 0;
  --cds-code-01-font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
  --cds-code-01-font-size: 0.75rem;
  --cds-code-01-font-weight: 400;
  --cds-code-01-line-height: 1.33333;
  --cds-code-01-letter-spacing: 0.32px;
  --cds-code-02-font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
  --cds-code-02-font-size: 0.875rem;
  --cds-code-02-font-weight: 400;
  --cds-code-02-line-height: 1.42857;
  --cds-code-02-letter-spacing: 0.32px;
  --cds-heading-01-font-size: 0.875rem;
  --cds-heading-01-font-weight: 600;
  --cds-heading-01-line-height: 1.42857;
  --cds-heading-01-letter-spacing: 0.16px;
  --cds-productive-heading-01-font-size: 0.875rem;
  --cds-productive-heading-01-font-weight: 600;
  --cds-productive-heading-01-line-height: 1.28572;
  --cds-productive-heading-01-letter-spacing: 0.16px;
  --cds-heading-02-font-size: 1rem;
  --cds-heading-02-font-weight: 600;
  --cds-heading-02-line-height: 1.5;
  --cds-heading-02-letter-spacing: 0;
  --cds-productive-heading-02-font-size: 1rem;
  --cds-productive-heading-02-font-weight: 600;
  --cds-productive-heading-02-line-height: 1.375;
  --cds-productive-heading-02-letter-spacing: 0;
  --cds-productive-heading-03-font-size: 1.25rem;
  --cds-productive-heading-03-font-weight: 400;
  --cds-productive-heading-03-line-height: 1.4;
  --cds-productive-heading-03-letter-spacing: 0;
  --cds-productive-heading-04-font-size: 1.75rem;
  --cds-productive-heading-04-font-weight: 400;
  --cds-productive-heading-04-line-height: 1.28572;
  --cds-productive-heading-04-letter-spacing: 0;
  --cds-productive-heading-05-font-size: 2rem;
  --cds-productive-heading-05-font-weight: 300;
  --cds-productive-heading-05-line-height: 1.25;
  --cds-productive-heading-05-letter-spacing: 0;
  --cds-productive-heading-06-font-size: 2.625rem;
  --cds-productive-heading-06-font-weight: 300;
  --cds-productive-heading-06-line-height: 1.199;
  --cds-productive-heading-06-letter-spacing: 0;
  --cds-productive-heading-07-font-size: 3.375rem;
  --cds-productive-heading-07-font-weight: 300;
  --cds-productive-heading-07-line-height: 1.199;
  --cds-productive-heading-07-letter-spacing: 0;
  --cds-expressive-heading-01-font-size: 0.875rem;
  --cds-expressive-heading-01-font-weight: 600;
  --cds-expressive-heading-01-line-height: 1.25;
  --cds-expressive-heading-01-letter-spacing: 0.16px;
  --cds-expressive-heading-02-font-size: 1rem;
  --cds-expressive-heading-02-font-weight: 600;
  --cds-expressive-heading-02-line-height: 1.5;
  --cds-expressive-heading-02-letter-spacing: 0;
  --cds-expressive-heading-03-font-size: 1.25rem;
  --cds-expressive-heading-03-font-weight: 400;
  --cds-expressive-heading-03-line-height: 1.4;
  --cds-expressive-heading-03-letter-spacing: 0;
  --cds-expressive-heading-04-font-size: 1.75rem;
  --cds-expressive-heading-04-font-weight: 400;
  --cds-expressive-heading-04-line-height: 1.28572;
  --cds-expressive-heading-04-letter-spacing: 0;
  --cds-expressive-heading-05-font-size: 2rem;
  --cds-expressive-heading-05-font-weight: 300;
  --cds-expressive-heading-05-line-height: 1.25;
  --cds-expressive-heading-05-letter-spacing: 0;
  --cds-expressive-heading-06-font-size: 2rem;
  --cds-expressive-heading-06-font-weight: 600;
  --cds-expressive-heading-06-line-height: 1.25;
  --cds-expressive-heading-06-letter-spacing: 0;
  --cds-expressive-paragraph-01-font-size: 1.5rem;
  --cds-expressive-paragraph-01-font-weight: 300;
  --cds-expressive-paragraph-01-line-height: 1.334;
  --cds-expressive-paragraph-01-letter-spacing: 0;
  --cds-quotation-01-font-family: 'IBM Plex Serif', 'Georgia', Times, serif;
  --cds-quotation-01-font-size: 1.25rem;
  --cds-quotation-01-font-weight: 400;
  --cds-quotation-01-line-height: 1.3;
  --cds-quotation-01-letter-spacing: 0;
  --cds-quotation-02-font-family: 'IBM Plex Serif', 'Georgia', Times, serif;
  --cds-quotation-02-font-size: 2rem;
  --cds-quotation-02-font-weight: 300;
  --cds-quotation-02-line-height: 1.25;
  --cds-quotation-02-letter-spacing: 0;
  --cds-display-01-font-size: 2.625rem;
  --cds-display-01-font-weight: 300;
  --cds-display-01-line-height: 1.19;
  --cds-display-01-letter-spacing: 0;
  --cds-display-02-font-size: 2.625rem;
  --cds-display-02-font-weight: 600;
  --cds-display-02-line-height: 1.19;
  --cds-display-02-letter-spacing: 0;
  --cds-display-03-font-size: 2.625rem;
  --cds-display-03-font-weight: 300;
  --cds-display-03-line-height: 1.19;
  --cds-display-03-letter-spacing: 0;
  --cds-display-04-font-size: 2.625rem;
  --cds-display-04-font-weight: 300;
  --cds-display-04-line-height: 1.19;
  --cds-display-04-letter-spacing: 0;
  --cds-legal-01-font-size: 0.75rem;
  --cds-legal-01-font-weight: 400;
  --cds-legal-01-line-height: 1.33333;
  --cds-legal-01-letter-spacing: 0.32px;
  --cds-legal-02-font-size: 0.875rem;
  --cds-legal-02-font-weight: 400;
  --cds-legal-02-line-height: 1.28572;
  --cds-legal-02-letter-spacing: 0.16px;
  --cds-body-compact-01-font-size: 0.875rem;
  --cds-body-compact-01-font-weight: 400;
  --cds-body-compact-01-line-height: 1.28572;
  --cds-body-compact-01-letter-spacing: 0.16px;
  --cds-body-compact-02-font-size: 1rem;
  --cds-body-compact-02-font-weight: 400;
  --cds-body-compact-02-line-height: 1.375;
  --cds-body-compact-02-letter-spacing: 0;
  --cds-body-01-font-size: 0.875rem;
  --cds-body-01-font-weight: 400;
  --cds-body-01-line-height: 1.42857;
  --cds-body-01-letter-spacing: 0.16px;
  --cds-body-02-font-size: 1rem;
  --cds-body-02-font-weight: 400;
  --cds-body-02-line-height: 1.5;
  --cds-body-02-letter-spacing: 0;
  --cds-heading-compact-01-font-size: 0.875rem;
  --cds-heading-compact-01-font-weight: 600;
  --cds-heading-compact-01-line-height: 1.28572;
  --cds-heading-compact-01-letter-spacing: 0.16px;
  --cds-heading-compact-02-font-size: 1rem;
  --cds-heading-compact-02-font-weight: 600;
  --cds-heading-compact-02-line-height: 1.375;
  --cds-heading-compact-02-letter-spacing: 0;
  --cds-heading-03-font-size: 1.25rem;
  --cds-heading-03-font-weight: 400;
  --cds-heading-03-line-height: 1.4;
  --cds-heading-03-letter-spacing: 0;
  --cds-heading-04-font-size: 1.75rem;
  --cds-heading-04-font-weight: 400;
  --cds-heading-04-line-height: 1.28572;
  --cds-heading-04-letter-spacing: 0;
  --cds-heading-05-font-size: 2rem;
  --cds-heading-05-font-weight: 300;
  --cds-heading-05-line-height: 1.25;
  --cds-heading-05-letter-spacing: 0;
  --cds-heading-06-font-size: 2.625rem;
  --cds-heading-06-font-weight: 300;
  --cds-heading-06-line-height: 1.199;
  --cds-heading-06-letter-spacing: 0;
  --cds-heading-07-font-size: 3.375rem;
  --cds-heading-07-font-weight: 300;
  --cds-heading-07-line-height: 1.199;
  --cds-heading-07-letter-spacing: 0;
  --cds-fluid-heading-03-font-size: 1.25rem;
  --cds-fluid-heading-03-font-weight: 400;
  --cds-fluid-heading-03-line-height: 1.4;
  --cds-fluid-heading-03-letter-spacing: 0;
  --cds-fluid-heading-04-font-size: 1.75rem;
  --cds-fluid-heading-04-font-weight: 400;
  --cds-fluid-heading-04-line-height: 1.28572;
  --cds-fluid-heading-04-letter-spacing: 0;
  --cds-fluid-heading-05-font-size: 2rem;
  --cds-fluid-heading-05-font-weight: 300;
  --cds-fluid-heading-05-line-height: 1.25;
  --cds-fluid-heading-05-letter-spacing: 0;
  --cds-fluid-heading-06-font-size: 2rem;
  --cds-fluid-heading-06-font-weight: 600;
  --cds-fluid-heading-06-line-height: 1.25;
  --cds-fluid-heading-06-letter-spacing: 0;
  --cds-fluid-paragraph-01-font-size: 1.5rem;
  --cds-fluid-paragraph-01-font-weight: 300;
  --cds-fluid-paragraph-01-line-height: 1.334;
  --cds-fluid-paragraph-01-letter-spacing: 0;
  --cds-fluid-quotation-01-font-family: 'IBM Plex Serif', 'Georgia', Times, serif;
  --cds-fluid-quotation-01-font-size: 1.25rem;
  --cds-fluid-quotation-01-font-weight: 400;
  --cds-fluid-quotation-01-line-height: 1.3;
  --cds-fluid-quotation-01-letter-spacing: 0;
  --cds-fluid-quotation-02-font-family: 'IBM Plex Serif', 'Georgia', Times, serif;
  --cds-fluid-quotation-02-font-size: 2rem;
  --cds-fluid-quotation-02-font-weight: 300;
  --cds-fluid-quotation-02-line-height: 1.25;
  --cds-fluid-quotation-02-letter-spacing: 0;
  --cds-fluid-display-01-font-size: 2.625rem;
  --cds-fluid-display-01-font-weight: 300;
  --cds-fluid-display-01-line-height: 1.19;
  --cds-fluid-display-01-letter-spacing: 0;
  --cds-fluid-display-02-font-size: 2.625rem;
  --cds-fluid-display-02-font-weight: 600;
  --cds-fluid-display-02-line-height: 1.19;
  --cds-fluid-display-02-letter-spacing: 0;
  --cds-fluid-display-03-font-size: 2.625rem;
  --cds-fluid-display-03-font-weight: 300;
  --cds-fluid-display-03-line-height: 1.19;
  --cds-fluid-display-03-letter-spacing: 0;
  --cds-fluid-display-04-font-size: 2.625rem;
  --cds-fluid-display-04-font-weight: 300;
  --cds-fluid-display-04-line-height: 1.19;
  --cds-fluid-display-04-letter-spacing: 0;
  --cds-spacing-01: 0.125rem;
  --cds-spacing-02: 0.25rem;
  --cds-spacing-03: 0.5rem;
  --cds-spacing-04: 0.75rem;
  --cds-spacing-05: 1rem;
  --cds-spacing-06: 1.5rem;
  --cds-spacing-07: 2rem;
  --cds-spacing-08: 2.5rem;
  --cds-spacing-09: 3rem;
  --cds-spacing-10: 4rem;
  --cds-spacing-11: 5rem;
  --cds-spacing-12: 6rem;
  --cds-spacing-13: 10rem;
  --cds-fluid-spacing-01: 0;
  --cds-fluid-spacing-02: 2vw;
  --cds-fluid-spacing-03: 5vw;
  --cds-fluid-spacing-04: 10vw;
  --cds-layout-01: 1rem;
  --cds-layout-02: 1.5rem;
  --cds-layout-03: 2rem;
  --cds-layout-04: 3rem;
  --cds-layout-05: 4rem;
  --cds-layout-06: 6rem;
  --cds-layout-07: 10rem;
  --cds-container-01: 1.5rem;
  --cds-container-02: 2rem;
  --cds-container-03: 2.5rem;
  --cds-container-04: 3rem;
  --cds-container-05: 4rem;
  --cds-size-xsmall: 1.5rem;
  --cds-size-small: 2rem;
  --cds-size-medium: 2.5rem;
  --cds-size-large: 3rem;
  --cds-size-xlarge: 4rem;
  --cds-size-2XLarge: 5rem;
  --cds-icon-size-01: 1rem;
  --cds-icon-size-02: 1.25rem;
  --cds-tag-background-red: #a2191f;
  --cds-tag-color-red: #ffd7d9;
  --cds-tag-hover-red: #c21e25;
  --cds-tag-background-magenta: #9f1853;
  --cds-tag-color-magenta: #ffd6e8;
  --cds-tag-hover-magenta: #bf1d63;
  --cds-tag-background-purple: #6929c4;
  --cds-tag-color-purple: #e8daff;
  --cds-tag-hover-purple: #7c3dd6;
  --cds-tag-background-blue: #BE570E;
  --cds-tag-color-blue: #F8C5A0;
  --cds-tag-hover-blue: #0053ff;
  --cds-tag-background-cyan: #00539a;
  --cds-tag-color-cyan: #bae6ff;
  --cds-tag-hover-cyan: #0066bd;
  --cds-tag-background-teal: #005d5d;
  --cds-tag-color-teal: #9ef0f0;
  --cds-tag-hover-teal: #007070;
  --cds-tag-background-green: #0e6027;
  --cds-tag-color-green: #a7f0ba;
  --cds-tag-hover-green: #11742f;
  --cds-tag-background-gray: #525252;
  --cds-tag-color-gray: #e0e0e0;
  --cds-tag-hover-gray: #636363;
  --cds-tag-background-cool-gray: #4d5358;
  --cds-tag-color-cool-gray: #dde1e6;
  --cds-tag-hover-cool-gray: #5d646a;
  --cds-tag-background-warm-gray: #565151;
  --cds-tag-color-warm-gray: #e5e0df;
  --cds-tag-hover-warm-gray: #696363;
  --cds-notification-background-error: var(--cds-ui-01, #f4f4f4);
  --cds-notification-background-success: var(--cds-ui-01, #f4f4f4);
  --cds-notification-background-info: var(--cds-ui-01, #f4f4f4);
  --cds-notification-background-warning: var(--cds-ui-01, #f4f4f4);
  --cds-notification-action-hover: var(--cds-hover-ui, #e5e5e5)
}

/* #endregion */

/* #region login page styles */
.bx--text-input__field-wrapper .bx--text-input--password__visibility__toggle.bx--tooltip__trigger {
  border-bottom: none !important;
  display: -webkit-inline-box;
}
.bx--text-input__field-wrapper .bx--text-input--password__visibility__toggle.bx--tooltip__trigger svg {
  margin-left: -8px;
}
.loginContainer:has(.bx--text-input__field-wrapper .bx--text-input--password__visibility__toggle.bx--tooltip__trigger:hover) {
  overflow: visible !important;
}
.loginContainer:has(.bx--text-input__field-wrapper .bx--text-input--password__visibility__toggle.bx--tooltip__trigger:hover) #LoginWait {
  visibility: hidden !important;
}
.leftPanelLogin {
  height: calc(100vh - 3rem);
  margin-top: 3rem;
  background-color: var(--cds-ui-02, #ffffff);
  width: 20rem;
  padding: 1.5rem 1rem;
  /* overflow: hidden; */
}
.loginPanelHeader {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--cds-ui-04, #dfe3e6);
  min-height: 4.563rem;
}
.loginPanelHeader p, .help {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--cds-text-02, #5a6872);
}
#loginSubtitle {
  display: none;
}
#loginSubtitle.show {
  display: block;
}
.loginSteps {
  padding: 1rem 0;
  border-bottom: 1px solid var(--cds-ui-04, #dfe3e6);
  margin-bottom: 1rem;
  display: flex;
  overflow-x: auto;
}
.loginSteps .loginStep {
  transition: left 340ms cubic-bezier(0.2, 0.2, 0.38, 0.9);
  width: 18rem;
  flex-shrink: 0;
  position: relative;
}
.loginSteps .loginStep.right {
  left: 20rem;
  background-color: red;
}
.loginSteps .loginStep.middle {
  left: 0rem;
  height: inherit;
}
.loginSteps .loginStep.left ~ .loginStep.middle {
  left: -18rem;
}
.loginSteps .loginStep.left {
  left: -20rem;
}
.loginSteps .bx--label {
  padding: 0 !important;
  width: 100%;
}
.loginStep .bx--text-input-wrapper {
  padding-bottom: 1rem;
}
.loginStep .bx--btn {
  width: 100%;
}
.loginSteps .bx--label #helpToggle {
  float: right;
  font-size: 0.75rem;
}
.bx--text-input__field-wrapper:not([data-invalid]) .bx--text-input__invalid-icon {
  display: none;
}
.bx--text-input__field-wrapper:not([data-invalid]) ~ .bx--form-requirement {
  display: none;
}
.bx--form-requirement {
  max-height: unset;
}
#loginButtonContainer {
  height: 40px;
  width: 100%;
}
#loginButtonContainer #loading {
  display: none;
}
#loginButtonContainer.load #loading {
  display: block;
}
#loginButtonContainer.load #loginButton {
  display: none;
}
#loginButtonContainer .bx--inline-loading__animation {
  display: inline-block;
}
#loginButtonContainer .bx--inline-loading .bx--inline-loading__text {
  width: fit-content;
  display: inline-block;
  position: relative;
  bottom: 12px;
}
#loginButtonContainer .bx--inline-loading .bx--inline-loading__text[hidden] {
  display: none;
}
#loginButtonContainer .bx--inline-loading {
  position: relative;
  top: 4px;
}
.loginBG {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}
.loginContainer {
  background-color: var(--cds-ui-02);
  /* height: calc(100vh - 3rem - 64px); */
  height: 20rem;
  width: 40rem;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.bx--label.login-label-hotfix {
  padding: 0 1rem;
  margin: 0;
  margin-bottom: 4px;
}
.bx--text-input--password__visibility__toggle.login-hotfix {
  border-bottom: 1px solid #8d8d8d !important;
  padding: 0 .5rem !important;
  position: absolute;
  right: 0.75rem;
}
.bx--password-input.login-hotfix {
  padding-right: 0.5rem !important;
}

.bx--btn.bx--btn--primary.login-hotfix {
  text-align: left;
  font-weight: normal;
}

button.bx--btn .bx--btn__icon.login-hotfix {
  float: right;
}

#helpToggle {
  margin-left: -5px;
  cursor: help !important;
  background: none !important;
  font-weight: normal;
  border: none;
}
.loginBG #appearanceToggle.dark > svg.dark,
.loginBG #appearanceToggle.dark > svg.system {
  display: none;
}
.loginBG #appearanceToggle.light > svg.light,
.loginBG #appearanceToggle.light > svg.system {
  display: none;
}
.loginBG #appearanceToggle.system > svg.light,
.loginBG #appearanceToggle.system > svg.dark {
  display: none;
}
/* #endregion */
/* #region home page styles */
#adminLinks, #teacherLinks {
  display: none;
}
.homeFloater {
  width: fit-content;
  height: calc(100vh - 3rem);
}
.bgImages {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -5;
}
.bgImages::after {
  content: " ";
  z-index: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
.bgImages img {
  display: none;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.bgImages img.show {
  display: block;
}
@media (max-width: 66rem) {
  .homeFloater {
      width: 100vw;
  }
}
/* #endregion */
/* #region event page styles */
.bx--table-header-label.event-table-hotfix {
  margin: 0 1rem !important;
}
.top .inlineSwitcher {
  width: 180px;
  float: right;
  position: relative;
  top: .3rem;
}

.top #titleName {
  display: inline-block;
  max-width: calc(100vw - 4rem - 180px - 1rem);
  overflow: hidden;
  text-overflow: ellipsis;
}

.top #mobileTitle {
  display: none;
}

.secondLevelContainer {
  background-color: var(--cds-ui-01, #ffffff);
  margin-top: -.5rem;
  width: 100vw;
  min-height: calc(100vh - 9.625rem);
  /* height: -webkit-fill-available; */
  padding: 2rem;
  margin-top: 10.25rem;
}

.detailsTileContainer {
  display: flex;
}

.detailsTileContainer[hidden] {
  display: none;
}

.detailsTileContainer .bx--tile {
  background: var(--cds-ui-02);
  margin: 0 .5rem;
  width: calc((100vw - 7rem) / 4);
  display: inline-flex;
  vertical-align: top;
}

.detailsTileContainer .bx--tile:nth-child(4n+1) {
  margin-left: 0;
}
.detailsTileContainer .bx--tile:nth-child(4n) {
  margin-right: 0;
}
.detailsTileContainer .bx--tile > p, .detailsTileContainer .bx--tile > h2 {
  display: inline-flex;
}

.detailsTileContainer .bx--tile > h2 {
  margin-right: .5rem;
  padding-right: .5rem;
  /* border-right: 1px solid #ccc; */
  height: 100%;
  /* max-width: 12rem; */
}
.detailsTileContainer .bx--tile > p {
  margin-left: auto;
  /* flex-grow: 100; */
  text-align: right;
}

#detailsPanel .tileWide {
  /* width: calc(100vw - 4rem); */
  background: var(--cds-ui-02);
  padding: 1rem;
  margin-bottom: 1rem;
  overflow-x: scroll;
}
#actions .actions{
  float: right;
  position: relative;
}
#detailsPanel .tileWide > h5 {
  display: inline-block;
  position: relative;
  top: .25rem;
}
#sessionsPanel .bx--child-row-inner-container > .bx--link {
  cursor: pointer !important;
  pointer-events: all !important;
  touch-action: manipulation !important;
  /* background-color: red; */
}
.bx--content:has(.top) {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 10;
}
#sessionsPanel .bx--data-table-header, .bx--table-toolbar {
  background: var(--cds-ui-01);
}
#sessionsPanel .bx--toolbar-content .bx--search .bx--search-input {
  padding-left: 3rem !important;
}
#sessionsPanel .bx--toolbar-search-container-persistent .bx--search .bx--search-magnifier {
  padding-left: 0 !important;
}
#sessionsPanel .bx--toolbar-search-container-persistent .bx--search, .bx--toolbar-content .bx--search .bx--search-input {
  height: 3rem;
}

#sessionsPanel .bx--toolbar-search-container-persistent .bx--search {
  transition: background-color 110ms cubic-bezier(0.2, 0, 0.38, 0.9),outline 110ms cubic-bezier(0.2, 0, 0.38, 0.9);
}
#sessionsPanel .bx--toolbar-search-container-persistent .bx--search:hover {
  background-color: var(--cds-ui-02);
}
#sessionsPanel .bx--toolbar-content .bx--search .bx--search-input {padding-left: 1rem;}
#sessionsPanel .bx--search-magnifier {padding-left: 1rem;}
#sessionsPanel .bx--data-table td, #sessionsPanel .bx--data-table tbody th {
  border-top: none;
  background-color: var(--cds-ui-02);
}
#sessionsPanel .bx--toolbar-search-container-persistent .bx--search-input:hover:not([disabled]) {
  background-color: unset;
}
#sessionsPanel .bx--data-table tbody tr:hover td, .bx--data-table tbody tr:hover th {
  border-top: none;
}

.bx--parent-row.bx--expandable-row ~ .bx--expandable-row.bx--expandable-row--hidden > td.eventExpandRow {
  padding: 1rem !important;
  padding-bottom: 0;
  background-color: var(--cds-ui-02);
  padding-top: 0 !important;
}

.bx--link {
  color: var(--cds-link-01, #ee7623) !important;
}

#sessionsPanel .bx--child-row-inner-container > .bx--data-table-container > table > thead > tr > th {
  padding: 0 !important;
}

#sessionsPanel .bx--child-row-inner-container > .bx--data-table-container > table > thead > tr > th > button {
  padding-left: .5rem !important;
}

#sessionsPanel .bx--child-row-inner-container > .bx--data-table-container > table > thead > tr > th.bx--table-column-menu{
  background: var(--cds-ui-01);
}

#sessionsPanel .bx--child-row-inner-container > .bx--data-table-container > table > tbody > tr > td {
  padding: .5rem !important;
}

#sessionsPanel tr.bx--parent-row.bx--expandable-row:hover+tr[data-child-row] td {
  background: var(--cds-ui-02);
}

.eventExpandRow .bx--child-row-inner-container > .bx--structured-list {
  margin-bottom: 0;
}

.eventExpandRow .bx--structured-list-td:has(.bx--table-column-menu) {
  padding-top: 0;
  position: relative;
  width: 32px;
}

.bx--expandable-row--hover + .eventExpandRow:hover {
  background: var(--cds-ui-02);
}

.eventExpandRow > div > section > div > div.teacherTutor {
  display: none;
}
.eventExpandRow.showTutor > div > section > div > div.teacherTutor {
  display: table-row;
}
#showTeacherTutor {
  padding-top: .25rem;
}

.bx--parent-row.bx--expandable-row ~ .bx--expandable-row.bx--expandable-row--hidden > td.eventExpandRow.lastRowNoSpacingRah {
  padding-bottom: 0 !important;
}

.bx--parent-row.bx--expandable-row + .bx--expandable-row.bx--expandable-row--hidden > td.eventExpandRow.lastRowNoSpacingRah {
  padding-bottom: 1rem !important;
}

@media (max-width: 66rem) {
  .top #titleName {
      display: none;
  }
  .top #mobileTitle {
      display: block;
  }
  .top .inlineSwitcher {
      margin-top: .25rem;
      width: unset;
      float: unset;
  }
  .secondLevelContainer {
      min-height: calc(100vh - 12.9rem);
      margin-top: 12.9rem;
      width: 100dvw;
  }
  .detailsTileContainer .bx--tile {
      margin: .5rem 0;
      width: unset;
      display: block;
  }
  
  .detailsTileContainer .bx--tile:nth-child(4n+1) {
      margin-left: unset;
  }
  .detailsTileContainer .bx--tile:nth-child(4n) {
      margin-right: unset;
  }
  .detailsTileContainer {
      display: unset;
  }
  .detailsTileContainer .bx--tile > h2 {
      border-right: none;
      padding-right: unset;
      margin-right: .25rem;
      max-width: unset;
  }
  .detailsTileContainer .bx--tile > p {
      margin-left: unset;
      text-align: unset;
  }
  .detailsTileContainer .bx--tile:nth-child(4n+1) {
      margin-top: 0;
  }
  .detailsTileContainer .bx--tile:nth-child(4n) {
      margin-bottom: 0;
  }
  #actions .actions {
      float: unset;
      position: unset;
  }
  #actions .actions > button {
      min-width: calc(100vw - 6rem);
      margin-top: .175rem;
      margin-bottom: .175rem;
  }
  #actions .actions > button:nth-child(4n+1) {
      margin-top: 0;
  }
  #actions .actions > button:nth-child(4n) {
      margin-bottom: 0;
  }
  #detailsPanel .tileWide > h5 {
      display: none;
  }
  #sessionsPanel .bx--data-table-container {
      width: 100%;
  }
  #sessionsPanel {
      overflow-x: scroll;
  }
}
/* #endregion */
/* #region event list page styles */
#createEvent {
  display: none;
  float:right;
}

#eventTable {
  margin-top: .5rem;
}

#eventTable .bx--data-table td {
  background: var(--cds-ui-02);
}

.secondLevelContainer:has(#eventTable) {
  background-color: var(--cds-ui-01);
  width: 100vw;
  min-height: calc(100vh - 9.625rem);
  padding: 2rem;
}

.bx--content:has(.top) {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 10;
}

.secondLevelContainer:has(#eventTable) {
  margin-top: 10rem;
}

@media (max-width: 66rem) {
  .secondLevelContainer:has(#eventTable) {
      min-height: calc(100vh - 12.45rem);
      min-width: 100vh;
      width: fit-content;
  }
}
/* #endregion */
/* #region event details page styles */