.inlineSwitcher {
    width: 180px;
    float: right;
    position: relative;
    top: .3rem;
}

#titleName {
    display: inline-block;
    max-width: calc(100vw - 4rem - 180px - 1rem);
    overflow: hidden;
    text-overflow: ellipsis;
}

#mobileTitle {
    display: none;
}

.secondLevelContainer {
    background-color: var(--cds-ui-01, #ffffff);
    margin-top: -.5rem;
    width: 100vw;
    min-height: calc(100vh - 9.625rem);
    /* height: -webkit-fill-available; */
    padding: 2rem;
    margin-top: 10.25rem;
}

.detailsTileContainer {
    display: flex;
}

#detailsPanel[hidden] {
    display: none;
}

.bx--tile {
    background: var(--cds-ui-02);
    margin: 0 .5rem;
    width: calc((100vw - 7rem) / 4);
    display: inline-flex;
    vertical-align: top;
}

.bx--tile:nth-child(4n+1) {
    margin-left: 0;
}
.bx--tile:nth-child(4n) {
    margin-right: 0;
}
.bx--tile > p, .bx--tile > h2 {
    display: inline-flex;
}

.bx--tile > h2 {
    margin-right: .5rem;
    padding-right: .5rem;
    /* border-right: 1px solid #ccc; */
    height: 100%;
    /* max-width: 12rem; */
}
.bx--tile > p {
    margin-left: auto;
    /* flex-grow: 100; */
    text-align: right;
}

.tileWide {
    /* width: calc(100vw - 4rem); */
    background: var(--cds-ui-02);
    padding: 1rem;
    margin-bottom: 1rem;
    overflow-x: scroll;
}
.actions{
    float: right;
    position: relative;
}
.tileWide > h5 {
    display: inline-block;
    position: relative;
    top: .25rem;
}
.bx--child-row-inner-container > .bx--link {
    cursor: pointer !important;
    pointer-events: all !important;
    touch-action: manipulation !important;
    /* background-color: red; */
}
.bx--content:has(.top) {
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 10;
}
.bx--data-table-header, .bx--table-toolbar {
    background: var(--cds-ui-01);
}
.bx--toolbar-content .bx--search .bx--search-input {
    padding-left: 3rem !important;
}
.bx--toolbar-search-container-persistent .bx--search .bx--search-magnifier {
    padding-left: 0 !important;
}
.bx--toolbar-search-container-persistent .bx--search, .bx--toolbar-content .bx--search .bx--search-input {
    height: 3rem;
}

.bx--toolbar-search-container-persistent .bx--search {
    transition: background-color 110ms cubic-bezier(0.2, 0, 0.38, 0.9),outline 110ms cubic-bezier(0.2, 0, 0.38, 0.9);
}
.bx--toolbar-search-container-persistent .bx--search:hover {
    background-color: var(--cds-ui-02);
}
.bx--toolbar-content .bx--search .bx--search-input {padding-left: 1rem;}
.bx--search-magnifier {padding-left: 1rem;}
.bx--data-table td, .bx--data-table tbody th {
    border-top: none;
    background-color: var(--cds-ui-02);
}
.bx--toolbar-search-container-persistent .bx--search-input:hover:not([disabled]) {
    background-color: unset;
}
.bx--data-table tbody tr:hover td, .bx--data-table tbody tr:hover th {
    border-top: none;
}

.bx--parent-row.bx--expandable-row ~ .bx--expandable-row.bx--expandable-row--hidden > td.eventExpandRow {
    padding: 1rem !important;
    padding-bottom: 0;
    background-color: var(--cds-ui-02);
    padding-top: 0 !important;
}

.bx--link {
    color: var(--cds-link-01, #0f62fe) !important;
}

.bx--child-row-inner-container > .bx--data-table-container > table > thead > tr > th {
    padding: 0 !important;
}

.bx--child-row-inner-container > .bx--data-table-container > table > thead > tr > th > button {
    padding-left: .5rem !important;
}

.bx--child-row-inner-container > .bx--data-table-container > table > thead > tr > th.bx--table-column-menu{
    background: var(--cds-ui-01);
}

.bx--child-row-inner-container > .bx--data-table-container > table > tbody > tr > td {
    padding: .5rem !important;
}

tr.bx--parent-row.bx--expandable-row:hover+tr[data-child-row] td {
    background: var(--cds-ui-02);
}

.bx--child-row-inner-container > .bx--structured-list {
    margin-bottom: 0;
}

.bx--structured-list-td:has(.bx--table-column-menu) {
    padding-top: 0;
    /* padding-right: 0; */
    position: relative;
    width: 32px;
}

.bx--expandable-row--hover + .eventExpandRow:hover {
    background: var(--cds-ui-02);
}

.eventExpandRow > div > section > div > div.teacherTutor {
    display: none;
}
.eventExpandRow.showTutor > div > section > div > div.teacherTutor {
    display: table-row;
}
#showTeacherTutor {
    padding-top: .25rem;
}

.bx--parent-row.bx--expandable-row ~ .bx--expandable-row.bx--expandable-row--hidden > td.eventExpandRow.lastRowNoSpacingRah {
    padding-bottom: 0 !important;
}

.bx--parent-row.bx--expandable-row + .bx--expandable-row.bx--expandable-row--hidden > td.eventExpandRow.lastRowNoSpacingRah {
    padding-bottom: 1rem !important;
}

/* .bx--parent-row.bx--expandable-row ~ .bx--expandable-row.bx--expandable-row--hidden > td.eventExpandRow {
} */

/* 
.bx--child-row-inner-container > .bx--data-table-container:has(table) {
    all: unset;
} */

@media (max-width: 66rem) {
    #titleName {
        display: none;
    }
    #mobileTitle {
        display: block;
    }
    .inlineSwitcher {
        margin-top: .25rem;
        width: unset;
        float: unset;
    }
    .secondLevelContainer {
        min-height: calc(100vh - 12.45rem);
        margin-top: 12.375rem;
        width: fit-content;
    }
    .bx--tile {
        margin: .5rem 0;
        width: unset;
        display: block;
    }
    
    .bx--tile:nth-child(4n+1) {
        margin-left: unset;
    }
    .bx--tile:nth-child(4n) {
        margin-right: unset;
    }
    .detailsTileContainer {
        display: unset;
    }
    .bx--tile > h2 {
        border-right: none;
        padding-right: unset;
        margin-right: .25rem;
        max-width: unset;
    }
    .bx--tile > p {
        margin-left: unset;
        text-align: unset;
    }
    .bx--tile:nth-child(4n+1) {
        margin-top: 0;
    }
    .bx--tile:nth-child(4n) {
        margin-bottom: 0;
    }
    .actions {
        float: unset;
        position: unset;
    }
    .actions > button {
        min-width: calc(100vw - 6rem);
        margin-top: .175rem;
        margin-bottom: .175rem;
    }
    .actions > button:nth-child(4n+1) {
        margin-top: 0;
    }
    .actions > button:nth-child(4n) {
        margin-bottom: 0;
    }
    .tileWide > h5 {
        display: none;
    }
    .bx--data-table-container {
        width: fit-content;
    }
}
